<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> results from Bluebird</title>
  <link href="https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="/assets/images/favicon.ico">
</head>
<body class="body--results">
  <header class="header">
    <a href="/">
      <div class="logo--results">
        <img src="/assets/images/bluebird.png" alt="bluebird logo" width="80" class="results--logo__image">
        <h2 class="header__heading--h2">Bluebird Search</h2>
      </div>
    </a>
    <form action="/search" method="GET" class="form--results">
      <input type="text" name="query" id="query" class="form__query" placeholder="Search Bluebird">
      <input type="submit" value="Search" name="submit" class="form__submit">
    </form>
  </header>
  <section class="results">
    <%- results %>
  </section>
</body>
</html>